<!-- ----------------------------------------------------- activities modal ------------------------------------------------------------- -->
			<div id="modalAdd1" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Confirmation</h4>
										</div>
										<div class="modal-body">
											<form role="form">
												<div class="form-body">
													
													<div class="form-group">
														<label>Activities</label>
														<input id="actname" style="border: 1px dotted;background-color: #F4F7F7;" type="text" class="form-control" placeholder="">
													</div>
													<div class="form-group">
														<label>Date Start</label>
														<input id="startdate" style="border: 1px dotted;background-color: #F4F7F7;" class="form-control form-control-inline input-large date-picker" size="16" type="text" value="">
													</div>
													<div class="form-group">
														<label>Date End</label>
														<input id="enddate" style="border: 1px dotted;background-color: #F4F7F7;" class="form-control form-control-inline input-large date-picker" size="16" type="text" value="">
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" data-dismiss="modal" class="btn default">Close</button>
											<button type="button" onclick="save()" data-dismiss="" class="btn green">Continue Task</button>
										</div>
									</div>
								</div>
			</div>
			<!-- ----------------------------------------------------- end of activities modal ------------------------------------------------------ -->

			<!-- ----------------------------------------------------- events modal            ------------------------------------------------------- -->
			<div id="modalAdd2" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Confirmation</h4>
										</div>
										<div class="modal-body">
											<form role="form">
												<div class="form-body">
													
													<div class="form-group">
															<label>Avtivity Name</label>
															<select id="allact_evnt" style="background-color: #F4F7F7;" class="form-control select2me" data-placeholder="Select...">
																<option value=""></option>
															</select>
													</div>
													<div class="form-group">
														<label>Event Name</label>
														<input id="eventname" style="border: 1px dotted;background-color: #F4F7F7;" type="text" class="form-control" placeholder="">
													</div>
													<div class="form-group">
														<label>Event Description</label>
														<textarea id="eventdesc" class="form-control" rows="3" style="margin: 0px -1px 0px 0px; width: 100%; height: 82px;max-width: 100%;border: 1px dotted;background-color: #F4F7F7;"></textarea>
													</div>
													<div class="form-group">
														<label>Date</label>
														<input id="eventdate" style="border: 1px dotted;background-color: #F4F7F7;" class="form-control form-control input-large date-picker" size="16" type="text" value="">
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" data-dismiss="modal" class="btn default">Close</button>
											<button type="button" onclick="saveEvent()" data-dismiss="" class="btn green">Continue Task</button>
										</div>
									</div>
								</div>
			</div>
			<!-- ----------------------------------------------------- end of events modal    ------------------------------------------------------ -->

			<!-- ----------------------------------------------------- contestant modal ------------------------------------------------------------- -->
			<div id="modalAdd3" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Confirmation</h4>
										</div>
										<div class="modal-body">
											<form role="form">
												<div class="form-body">
													
													<div class="form-group">
															<label>Event Name</label>
															<select id="combo3eventt" style="background-color: #F4F7F7;" class="form-control select2me" data-placeholder="Select...">
																<option value=""></option>
															</select>
													</div>
													<div class="form-group">
														<label>Contestant Name</label>
														<input id="contestantname" style="border: 1px dotted;background-color: #F4F7F7;" type="text" class="form-control" placeholder="">
													</div>
													<div class="form-group">
															<label>Gender</label>
															<select id="gender" style="background-color: #F4F7F7;" class="form-control select2me" data-placeholder="Select...">
																<option value="Male">Male</option>
																<option value="Female">Female</option>
															</select>
													</div>
													<div class="form-group">
															<label>Department</label>
															<select id="contestantdep" style="background-color: #F4F7F7;" class="form-control select2me" data-placeholder="Select...">
																<option value=""></option>
															</select>
													</div>
													<div class="form-group">
														<label>Upload photo</label>
														<input style="border: 1px dotted;width: 100%;background:#F4F7F7" class="btn default" type="file" id="exampleInputFile1">
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" data-dismiss="modal" class="btn default">Close</button>
											<button type="button" onclick="saveContestant()" data-dismiss="" class="btn green">Continue Task</button>
										</div>
									</div>
								</div>
			</div>
			<!-- ----------------------------------------------------- end of contestants modal ------------------------------------------------------ -->			

			<!-- ----------------------------------------------------- judges modal ------------------------------------------------------------- -->
			<div id="modalAdd4" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Confirmation</h4>
										</div>
										<div class="modal-body">
											<form role="form">
												<div class="form-body">
													
													<div class="form-group">
															<label>Select Event</label>
															<select id="judgecombo" style="background-color: #F4F7F7;" class="form-control select2me" data-placeholder="Select...">
															</select>
													</div>
													<div class="form-group">
														<label>Full Name</label>
														<input id="judgefullname" style="border: 1px dotted;background-color: #F4F7F7;" type="text" class="form-control" placeholder="">
													</div>
													<div class="form-group">
														<label>Username</label>
														<input id="judgeuname" style="border: 1px dotted;background-color: #F4F7F7;" type="text" class="form-control" placeholder="">
													</div>
													<div class="form-group">
														<label>Password</label>
														<input id="judgepword" style="border: 1px dotted;background-color: #F4F7F7;" type="text" class="form-control" placeholder="">
													</div>
													<div class="form-group">
														<label>Confirm password</label>
														<input id="cjudgepword" style="border: 1px dotted;background-color: #F4F7F7;" type="text" class="form-control" placeholder="">
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" data-dismiss="modal" class="btn default">Close</button>
											<button type="button" onclick="saveJudge()" data-dismiss="" class="btn green">Continue Task</button>
										</div>
									</div>
								</div>
			</div>
			<!-- ----------------------------------------------------- end of judges modal ------------------------------------------------------ -->

			<!-- ----------------------------------------------------- criteria modal ------------------------------------------------------------- -->
			<div id="modalAdd5" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Confirmation</h4>
										</div>
										<div class="modal-body">
											<form role="form">
												<div class="form-body">
													
													<div class="form-group">
															<label>Select Event</label>
															<select id="eventidfrmcriteria" style="background-color: #F4F7F7;" class="form-control select2me" data-placeholder="Select...">
																<option value=""></option>
															</select>
													</div>
													<div class="form-group">
														<label>Criteria Name</label>
														<input id="criterianame" style="border: 1px dotted;background-color: #F4F7F7;" type="text" class="form-control" placeholder="">
													</div>
													<div class="form-group">
														<label>Percentage</label>
														<input id="percentage" style="border: 1px dotted;background-color: #F4F7F7;" type="number" class="form-control" placeholder="">
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" data-dismiss="modal" class="btn default">Close</button>
											<button type="button" onclick="saveCriteria()" data-dismiss="" class="btn green">Continue Task</button>
										</div>
									</div>
								</div>
			</div>
			<!-- ----------------------------------------------------- end of criteria modal ------------------------------------------------------ -->


			<!-- ----------------------------------------------------- criteria modal ------------------------------------------------------------- -->
			<div id="modalAdd7" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Confirmation</h4>
										</div>
										<div class="modal-body">
											<form role="form">
												<div class="form-body">
													<div class="form-group">
														<label>Department Name</label>
														<input id="departmentname" style="border: 1px dotted;background-color: #F4F7F7;" type="text" class="form-control" placeholder="">
													</div>
													<div class="form-group">
														<label>Description</label>
														<input id="departmentdesc" style="border: 1px dotted;background-color: #F4F7F7;" type="text" class="form-control" placeholder="">
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" data-dismiss="modal" class="btn default">Close</button>
											<button type="button" onclick="saveDepartment()" data-dismiss="" class="btn green">Continue Task</button>
										</div>
									</div>
								</div>
			</div>
			<!-- ----------------------------------------------------- end of criteria modal ------------------------------------------------------ -->