<ion-view title="">
    <ion-content class="has-header">
        <div style="background-image:url('img/road-tunnel-sm.png');" class="cover-photo"></div>
        <div class='user-tab-top'>
            <div class='user-details'>
                <div class="profile-picture text-center">
                    <img ng-src="img/photo.jpg" class="profile-picture" />
                </div>
                <div class='positive text-center' style="padding-bottom:5px;font-size: 20px;">
                    {{detail.name | uppercase}}
                </div>
                <div class='muted text-center' style="padding-bottom:10px;">
                    {{detail.departmentname | uppercase}}
                </div>
            </div>
        </div>
        <div class="item item-divider item-positive">
            <h3>Scoring and Rating</h3>
        </div>
        <ion-list show-delete="false" show-reorder="false" can-swipe="true">
            <ion-item class="item item-text-wrap item-icon-right" ng-repeat="row in criterias.childs">
                <h2>{{row.criterianame}} <small class="muted">{{row.percentage}} %</small></h2>
                <span class="badge badge-assertive">{{row.score}}</span>
                <ion-option-button class="button-energized" ng-click="showPopup(row.criteriaid,row.score)">
                    <i class="icon ion-compose"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
