<ion-view title="Events">
    <div class="bar bar-subheader item item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Events" ng-model="query"> </input>
        </label>
    </div>
    <ion-content class="has-header has-subheader">
        <div class="list">
            <a ng-repeat="event in events.childs | filter:query" href="#/app/contestants/{{event.eventid}}" class="item item-icon-left item-icon-right">
                <i class="icon ion-android-bicycle assertive"></i>
                <h2 class="dark">{{event.eventname}}</h2>
                <i class="icon ion-ios-arrow-right dark"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
