<ion-popover-view class="fit">
    <ion-content scroll="false">
        <div class="list">
            <a class="item" ng-click="tutorial()" href="#">
              Tutorial
            </a>
            <a class="item" href="#/contact">
              Contact Us
            </a>
            <a class="item" href="#/terms">
              Terms
            </a>
            <a class="item" href="#/privacy">
              Privacy
            </a>
            <a class="item" ng-click="logout()" href="#">
              Logout
            </a>
        </div>
    </ion-content>
</ion-popover-view>
