<ion-view title="Privacy">
  <ion-nav-buttons side="left">
    <button class="button icon ion-arrow-left-c" ng-click="back()"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" has-subheader="false" has-tabs="false">
    <div class='padding'>
      <h3>AtoB LLC Privacy Policy</h3>
      <p>
          Welcome to a Web site operated by AtoB LLC. (hereafter referred to as "Coride," "we," "us," or "our"), a Wisconsin limited liability company. Coride
          maintains www.coride.co (hereafter "Site"), as a service (our Site and such services, collectively, our "Services") to our Users and visitors (“User”,
          “visitor”, "You," "Your," or "Yourself")
      </p>
      <p>
          Coride is willing to license, not sell, the Coride Platform to You only upon the condition that You accept all the terms contained in this Agreement. By
          signing up with or by using the Coride Platform, You indicate that You understand this Agreement and accept all of its terms. If You do not accept all the
          terms of this Agreement, then Coride is unwilling to license the Coride Platform to You.
      </p>
      <p>
          ATOB DOES NOT PROVIDE TRANSPORTATION SERVICES, AND ATOB IS NOT A TRANSPORTATION CARRIER. IT IS UP TO THE DRIVER OR VEHICLE OPERATOR TO DECIDE WHETHER
          OR NOT TO OFFER A RIDE TO A RIDER CONTACTED THROUGH THE CORIDE PLATFORM, AND IT IS UP THE RIDER TO DECIDE WHETHER OR NOT TO ACCEPT A RIDE FROM ANY DRIVER
          CONTACTED THROUGH THE CORIDE PLATFORM. ANY DECISION BY A USER TO OFFER OR ACCEPT TRANSPORTATION ONCE SUCH USER IS MATCHED THROUGH THE CORIDE PLATFORM IS A
          DECISION MADE IN SUCH USER’S SOLE DISCRETION. ATOB OFFERS INFORMATION AND A METHOD TO CONNECT DRIVERS AND RIDERS WITH EACH OTHER, BUT DOES NOT AND DOES
          NOT INTEND TO PROVIDE TRANSPORTATION SERVICES OR ACT IN ANY MANNER AS A TRANSPORTATION CARRIER, AND HAS NO RESPONSIBILITY OR LIABILITY FOR ANY
          TRANSPORTATION SERVICES VOLUNTARILY PROVIDED TO ANY RIDER BY ANY DRIVER USING THE CORIDE PLATFORM.
      </p>
      <p>
          <strong>1. </strong>
          <strong>Overview. </strong>
          This Customer Privacy Policy covers the collection, use, and disclosure of personal information that may be collected by Coride anytime You interact with
          the Services, such as when You visit our web site, when You purchase the Coride's products and services online or when You call our sales or support
          associates. Please take a moment to carefully read the following to learn more about our information practices, including what type of information is
          gathered, how the information is used and for what purposes, to whom we disclose the information, and how we safeguard Your personal information. Your
          privacy is a priority at Coride, and we go to great lengths to protect it.<strong></strong>
      </p>
      <p>
          <strong>2. </strong>
          <strong>Information Collection and Use. </strong>
          We collect Your personal information because it helps us deliver a superior level of customer service. It enables us to give You convenient access to our
          products and services and focus on categories of greatest interest to You. In addition, Your personal information helps us keep You posted on the latest
          product announcements, special offers, and events that You might like to hear about.<strong></strong>
      </p>
      <p>
          <strong> </strong>
      </p>
      <p>
          <strong>3. </strong>
          <strong>Personally Identifiable Information. </strong>
          When You register with us through the Site and become an Coride Member, when You choose to post or request a ride, or when You wish to contact an Coride
          Member, we will ask You for personally identifiable information. This refers to information about You that can be used to contact or identify You
          ("Personal Information"). Identity Information includes, but is not limited to, Your name, phone number, email address and home postal address, but does
      not include Your credit card number or billing information. We use Your Personal Information mainly to provide the Service and administer Your inquiries.    <strong></strong>
      </p>
      <p>
          We also collect the other information that You provide as part of registration and the administration and personalization of Your profile webpage (e.g.,
          without limitation, zip code (on its own) and individual preferences or demographic information) ("Non-Identifying Information”).
      </p>
      <p>
          We use Your Personal Information (in some cases, in conjunction with Your Non-Identifying Information) mainly to provide the Service, complete Your
          transactions, and administer Your inquiries.
      </p>
      <p>
          Certain Non-Identifying Information would be considered a part of Your Personal Information if it were combined with other identifiers (for example,
          combining Your zip code with Your street address) in a way that enables You to be identified. But the same pieces of information are considered
          Non-Identifying Information when they are taken alone or combined only with other non-identifying information (for example, Your demographic information).
          We may combine Your Personal Information with Non-Identifying Information and aggregate it with information collected from other Coride Users (defined
          below) to attempt to provide You with a better experience, to improve the quality and value of the Service and to analyze and understand how our Site and
          Service are used. We may also use the combined information without aggregating it to serve You specifically, for instance to deliver a product to You
          according to Your preferences or restrictions.
      </p>
      <p>
          <strong>4. </strong>
          <strong>Log Data</strong>
          <strong>. </strong>
          We may also collect and analyze the Internet protocol (IP) address used to connect Your computer to the Internet, login, E-mail address, password, computer
          and connection information, browser type and version, operating system. We also we may use software tools such as JavaScript to measure and collect session
          information, including page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks,
          and mouse-overs), and methods used to browse away from the page. We collect this information from Visitors and Registered Members, typically through
          automated methods.<strong></strong>
      </p>
      <p>
          <strong>5. </strong>
          <strong>Cookies</strong>
          <strong> &amp; Pixel Tags. </strong>
          A cookie is a small piece of information that a Web site can send to Your browser and may then be stored on Your computer's hard drive. It acts as an
          anonymous tag that identifies Your computer, but not You personally. A pixel tag, also known as a clear GIF or web beacon, is an invisible tag placed on
          certain pages of the Web site but not on Your computer. When You access these pages, pixel tags generate a generic notice of that visit. They usually work
          in conjunction with cookies, registering when a particular computer visits a particular page. If You turn off cookies the pixel tag will simply detect an
          anonymous Web site visit and certain features of the Web site may not be available. <strong></strong>
      </p>
      <p>
          <strong> </strong>
      </p>
      <p>
          <strong> </strong>
      </p>
      <p>
          <strong>6. </strong>
          <strong>Contact with Other Users. </strong>
          Users may communicate directly with other Users through use of the Services. Please be aware that whenever You voluntarily send public information to Your
          chat rooms, journals, blogs, message boards, classifieds or any other public forums, that information can be accessed by the public and can in turn be used
          by those people to send You unsolicited communications. We are not responsible for the personally identifiable information You choose to submit in these
          forums.<strong></strong>
      </p>
      <p>
          <strong>7. </strong>
          <strong>Arranging Rides with Other Users. </strong>
          Coride Users who wish to travel to a location (“Passengers”) can accept offers through the services from other Users who are offering rides to that
          location (“Drivers”). Offers posted by Drivers, ratings and reviews of Drivers and Passengers, and the Profile Information of Drivers and Passengers, are
          visible to any visitor to the site. If a Driver and a Passenger enter into a confirmed transaction with one another (the Driver accepts the Passenger's
          request or the Passenger accepts the Driver's offer, and the Passenger's payment details are collected and processed), then the Passenger and the Driver's
          Identity Information are shared with each other in order to facilitate the reservation. In no event is a Passenger's Billing Information shared with his or
          her Driver.<strong></strong>
      </p>
      <p>
          <strong>8. </strong>
          <strong>Personal Information Always Shown. </strong>
          Registered User information is displayed to people in order to facilitate user interaction in the Coride community. The following personal information is
          always viewable by Visitors and Registered Members: Your display name and Main Profile Picture. To facilitate searching and finding friends and
          acquaintances on the service (discussed in more detail below), the Web site allows users to search for other members using criteria, such as first and last
          name, age, E-mail address, and schools and/or companies where users may have attended or worked, but only if and to the extent that You provide such
          information. Any information You choose to provide as part of Your profile should reflect how much You want other Coride Users to know about You. We
          recommend that You guard Your anonymity and sensitive information and we encourage members to think carefully about what information about themselves they
          disclose in their profile pages. You can review and revise Your profile information at any time.<strong></strong>
      </p>
      <p>
          <strong>9. </strong>
          <strong>Security. </strong>
          The security of Your personal information is important to us. We follow generally accepted industry standards to protect the personal information submitted
          to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure,
          however. Therefore, while we strive to use commercially acceptable means to protect Your personal information, we cannot guarantee its absolute security.
          Unauthorized entry or use, hardware or software failure, and other factors may compromise the security of member information at any time.<strong></strong>
      </p>
      <p>
          <strong>10. </strong>
          <strong>Aggregate Information (nonpersonally identifiable). </strong>
          We share aggregated demographic information about our user base with our business partners (including our advertisers). When sharing this information, we
          do not identify individual users.<strong></strong>
      </p>
      <p>
          <strong> </strong>
      </p>
      <p>
          <strong>11. </strong>
          <strong>Information Retention. </strong>
          To preserve the integrity of Our databases, standard procedure calls for Us to retain information submitted by members for an indefinite length of time.
          Coride understands Your submissions as consent to store all Your information in one place for this indefinite length of time, if We so wish. If required by
          law, as is the case to comply with the Children's Online Privacy Protection Act (COPPA), We will nullify member information by erasing it from Our
          database. We will also respond to written member requests to nullify account information. Also, by using the Coride Platform, You do hereby represent and
          warrant that You understand and agree that all information submitted by You through the Coride Platform or otherwise to Coride becomes the property of
          Coride and may be used in the sole discretion of Coride in accordance with this Privacy Policy and the Terms of Use.
      </p>
      <p>
          <strong>12. </strong>
          <strong>Choice/Opt-Out. </strong>
          Coride provides Users the opportunity to opt-out of receiving communications from Us and Our partners at the point where We request information about the
          visitor. Coride gives Users the option to remove their information from Our database, to not receive future communications or to no longer receive Our
          service.
          <br/>
          <br/>
          <strong></strong>
      </p>
      <p>
          <strong>13. </strong>
          <strong>Special Cases in Which We Share Personal Information. </strong>
          Your personal information may be passed on to a third party in the event of a transfer of ownership or assets, or a bankruptcy. We may also disclose
          personal information when We determine that such disclosure is necessary to comply with applicable law, to cooperate with law enforcement or to protect the
          interests or safety of Coride or other visitors to the Coride Platform. We also may disclose Your personal information to Our subsidiary and parent
          companies and businesses, and other affiliated legal entities and businesses with whom We are under common corporate control. Whenever personal information
          is disclosed under this paragraph, We may also disclose Your demographic information along with it, on a non-anonymous basis. All of Our parent, subsidiary
          and affiliated legal entities and businesses that receive Your personal information or non-anonymous demographic information from Us will comply with the
          terms of this privacy policy with respect to their use and disclosure of such information.
      </p>
      <p>
          <strong>14. </strong>
          <strong>Our Security Precautions</strong>
      </p>
      <p>
          Your Coride Profile is password-protected so that only You and authorized Coride employees have access to Your account information. If You have registered
          for Coride using Facebook Connect, then Your login and password shall be the same as Your Facebook login and password. In order to maintain this
          protection, do not give Your password to anyone. Coride staff will never proactively reach out to You and ask for any personal account information,
          including Your password If You share a computer, You should sign out of Your Coride account and close the browser window before someone else logs on. This
          will help protect Your information entered on public terminals from disclosure to third parties.
      </p>
      <p>
          Coride makes every effort to ensure that Your information is secure on its system. Coride has staff dedicated to maintaining Our privacy policy as set
          forth herein and other privacy initiatives, periodically reviewing Web security and making sure that every Coride employee is aware of Our security
          practices. Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, Coride cannot guarantee the security of
          any information You transmit to Us, and You do so at Your own risk. If You have any further questions on this issue, refer to Coride Terms of Use. Coride
          expressly disclaims any liability that may arise should any other individuals obtain the information You submit to the Coride Platform.
      </p>
      <p>
          Coride has security measures in place to protect against the loss, misuse and alteration of the information under Our control. Your information may be
          transferred to and maintained on computer networks which may be located outside of the state, province, country or other governmental jurisdiction in which
          You reside, and the country or jurisdiction in which these computer networks are located may not have privacy laws as protective as the laws in Your
          country or jurisdiction.
      </p>
      <p>
          <strong>15. </strong>
          <strong>Business Transfers. </strong>
          To improve the offerings and selection at the Web site, we may occasionally acquire subsidiaries or particular business units may be bought by or merged
          with another entity, entities, or individuals. In such transactions, customer information generally is one of the transferred business assets but remains
          subject to the promises made in any preexisting privacy notice(s) (unless, of course, the customer consents otherwise). Also, in the event that Coride or
          substantially all of Coride's or the Web site's assets are acquired, all customer information will of course be one of the transferred assets. Coride
          reserves the right to transfer personal information to a successor in interest that acquires rights to that information as a result of the sale of Coride
          or substantially all of its or the Web site's assets to that successor in interest.
          <br/>
          <br/>
          <strong></strong>
      </p>
      <p>
          <strong>16. </strong>
          <strong>Facilitation of Payments</strong>
          . All Donations or Charges, as applicable, shall be facilitated through Stripe, Inc., Coride's third-party payment processing service. You agree that if
          the transfer fails (due to a typo in the bank details, for example), it can take up to five business days for Stripe to be notified. You agree that any
          mandatory amounts charged following a ride (a "Charge") are due immediately. Coride reserves the right to determine suggested pricing.
      </p>
      <p>
          <strong>17. </strong>
          <strong>Compliance with Laws and Law Enforcement. </strong>
          It is sometimes necessary to release account and other information when we believe it is appropriate to comply with the law; enforce or apply our terms of
          use and other agreements; or protect the rights, property, or safety of Coride, our users, or others. This includes exchanging information with other
          companies and organizations for fraud protection and credit risk reduction. Under no circumstances, however, does this include selling, renting, sharing,
          or otherwise disclosing personally identifiable information from clients for commercial purposes in violation of the commitments set forth in this privacy
          policy. We reserve the right to disclose Your personally identifiable information as required by law and when we believe that disclosure is necessary to
          protect our rights and/or (1) to conform to legal requirements or to respond to a subpoena, search warrant or other legal process received by Coride,
          whether or not a response is required by applicable law; (2) to enforce the ATOB TERMS OF USE or to protect our rights; or (3) to protect the safety of
          members of the public and users of the service.<strong></strong>
      </p>
      <p>
          <strong>18. </strong>
          <strong>Changing or Deleting Your Information. </strong>
          You may correct, update or delete Your Profile information, and update Your registration information (other than with respect to Your username) by logging
          into Your account and accessing the "My Home” option (available when logged in and viewing Your Home Page).<strong></strong>
      </p>
      <p>
          <strong>19. </strong>
          <strong>Links to Third-Party Sites. </strong>
          This Web site may contain links to other sites that are not owned or controlled by Coride. Please be aware that Coride is not responsible for the privacy
          practices of such other sites. We encourage You to be aware when You leave the Web site and to read the privacy statements of each and every Web site that
          collects personally identifiable information. This privacy statement applies only to information collected by Coride. <strong></strong>
      </p>
      <p>
          <strong>20. </strong>
          <strong>International Users. </strong>
          Coride<strong> </strong>abides by the safe harbor framework set forth by the U.S. Department of Commerce regarding the collection, use, and retention of
          personal information collected from the European Union.<strong></strong>
      </p>
      <p>
          <strong>21. </strong>
          <strong>Child Privacy. </strong>
          This Site is not directed to children under 18. We do not knowingly collect personal information from children under 13 for marketing purposes. If a child
          under 13 submits personal information to Coride and we learn that that personal information is the information of a child under 13, we will attempt to
          delete the information as soon as possible. It is our policy to comply with the Children's Online Privacy Protection Act of 1998 and all other applicable
          laws. Therefore we restrict our web site to persons 18 years or older.<strong></strong>
      </p>
      <p>
          <strong>22. </strong>
          <strong>Effective Date; Updates to Privacy Policy.</strong>
          The terms and conditions in this policy statement came into effect on 01/01/2014. Coride reserves the right to revise, amend, or modify this policy at any
          time and in any manner. When we change the policy in a material way a notice will be posted on our web site along with the updated privacy policy. Your use
          of our web site and any other services provided by Coride after such changes are implemented constitutes Your acknowledgement and acceptance of these
          changes. Please consult this privacy statement prior to every use for any changes.<strong></strong>
      </p>
      <p>
          YOU MUST BE EIGHTEEN (18) YEARS OR OLDER TO ACCESS THE ATOB'S WEBSITE. IF YOU ARE UNDER EIGHTEEN YEARS OF AGE, YOU ARE NOT PERMITTED TO ACCESS ATOB'S
          WEB SITE FOR ANY REASON. DUE TO THE AGE RESTRICTIONS FOR USE OF THAT WEBSITE, NO INFORMATION OBTAINED BY THAT WEBSITE FALLS WITHIN THE CHILDREN'S ONLINE
          PRIVACY PROTECTION ACT OF 1998 AND IS NOT MONITORED AS DOING SO.
      </p>
      <p>
          <strong>23. </strong>
          <strong>Contact. </strong>
          If You have questions or concerns about the Company's Customer Privacy Policy or data processing, please contact us at team@coride.co.<strong></strong>
      </p>
    <div>
  </ion-content>
</ion-view>